<div>
    <h1>Devis Page</h1>
</div>
<hr>
<br>
<br>
<div>
    <p>Client Details</p>
    <div class="col-3">
        <label class="labels">Enter Client Mail</label>
        <input type="text" class="form-control"  placeholder="email" >

        <label class="labels">Currency</label>
        <input type="text" class="form-control"  placeholder="currency" >
    </div>
</div>
<hr>
<div>
    <p>Products </p>
    <div class="col-3">
      <mat-form-field appearance="fill" class="select-container">
        <mat-label>Select a category</mat-label>
      
        <mat-select  (selectionChange)="filterByCategory($event.value)" required>
         
          <mat-option *ngFor="let category of listCategory" 
                      [value]="{ id: category.id, name: category.name }">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      
        <mat-form-field appearance="fill" class="select-container">
            <mat-label>Select a product</mat-label>
          
            <mat-select (selectionChange)="filterByProduct($event.value)" required>
             
              <mat-option *ngFor="let product of filteredProductList" 
                          [value]="{ id: product.id}">
                {{ product.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="row mt-2">

              <div class="col-md-6">
                  <label class="labels">Designation</label>
                  <input type="text" class="form-control" placeholder="Designation">
              </div>
              <div class="col-md-6">
                  <label class="labels">Details</label>
                  <input type="text" class="form-control" placeholder="Details">
              </div>
              <div class="col-md-6">
                  <label class="labels">Price</label>
                  <input type="text" class="form-control" placeholder="Price">
              </div>
              <div class="col-md-6">
                  <label class="labels">Quantity</label>
                  <input type="text" class="form-control" placeholder="Quantity">
              </div>
              <div class="col-md-6">
                  <label class="labels">HTT</label>
                  <input type="text" class="form-control" placeholder="HTT">
              </div>
              <div class="col-md-6">
                  <label class="labels">TTC</label>
                  <input type="text" class="form-control" placeholder="TTC">
              </div>
          </div>
          
        
</div>

