<div id="inner-nav"></div>
<div id="container">
  <div id="profile">
    <div id="image">
      <img id="profile-photo" 
           src="https://media.istockphoto.com/id/1189047811/fr/vectoriel/blue-wave-logo.jpg?s=612x612&w=0&k=20&c=CV9ShFWo8bzPTeLqkqOTl6Y2HmvypQCYYQQO5IWYl0k=" 
           alt="Profile-Image">
      <a href="#"><i class="fas fa-pen stroke-transparent"></i></a>
    </div>
    <form [formGroup]="companyForm" >
      <p id="SpecifiedIn">
        SpecifiedIn: <span>{{ companyForm.get("specifiedIn")?.value }}</span>
      </p>
      <p id="Creation Date">
        Creation Date: <span>{{ companyForm.get("creationDate")?.value }}</span>
      </p>
      <p id="In Charge Of">
        In Charge Of: <span>{{ companyForm.get("inChargeOf")?.value }}</span>
      </p>
      <hr width="100%">
      <div id="about">
        <p style="display:inline;">Denomination</p>
        <a href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
      </div>
      <p id="Denomination">
        {{ companyForm.get("denomination")?.value }}<br><strong>March, 2014</strong>
      </p>
      <p id="email">Email: <br><strong>{{ companyForm.get("email")?.value }}</strong></p>
      <p id="phone">Phone:<br><strong>{{ companyForm.get("phone")?.value }}</strong></p>
      <p id="fax">Fax<br><strong>{{ companyForm.get("fax")?.value }}</strong></p>
      <p id="address">Address:<br><strong>{{ companyForm.get("address")?.value }}</strong></p>
      <p id="Balance">Balance<br><strong>{{ companyForm.get("balance")?.value }} $</strong></p>

      <!-- Submit Button -->
    </form>
  </div>
  <div class="button-container">
    <button (click)="openUpdateDialog()" type="submit" class="update-button">
      Update Company
    </button>
  </div>   
</div>
