    <div class="container">
      <div class="login-form">
        <div class="login-form-fields">
          <div class="login-input-group">
            <div class="name-password-login-button">
  
              <!-- User Icon -->
              <div class="user-icon">
                <i class="fa-solid fa-user"></i>
              </div>
  
              <form [formGroup]="userForm">
                <!-- Name Field -->
                <div class="name">
                  <i class="fa-solid fa-user"></i>
                  <input type="text" name="user-name" formControlName="email" id="user-name" placeholder="Username">
                </div>
  
                <!-- Password Field -->
                <div class="password">
                  <i class="fa-solid fa-lock"></i>
                  <input type="password" name="password" formControlName="password" id="user-password" placeholder="Password">
                </div>
  
                <!-- Login Button Field -->
                <div class="login-btn">
                  <button type="submit" (click)="login()">Log In</button>
                </div>
              </form>
  
              <!-- Forget Password and Sign Up Field -->
              <div class="forget-password-sign-up-container">
                <a class="sign-up" routerLink="/register">Sign Up</a>
              </div>
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  