<div class="container rounded bg-white mt-6 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img 
                    class="rounded-circle mt-5" 
                    width="150px" 
                    src="https://media.istockphoto.com/id/1189047811/fr/vectoriel/blue-wave-logo.jpg?s=612x612&w=0&k=20&c=CV9ShFWo8bzPTeLqkqOTl6Y2HmvypQCYYQQO5IWYl0k=" 
                    alt="Profile Picture"
                >
               <span class="text-black-50"></span>
                <span></span>
            </div>
        </div>
        <div class="col-md-6 border-right"> <!-- Adjusted from col-md-5 to col-md-6 -->
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form [formGroup]="productForm">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">name</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="SpecifiedIn" >
                        </div>
                        <div class="col-md-6">
                            <label class="labels">designation</label>
                            <input type="text" class="form-control" formControlName="designation"  placeholder="creationDate" >
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">details</label>
                            <input type="text" class="form-control" formControlName="details" placeholder="InChargeOf" >
                        </div>
                        <div class="col-md-12">
                            <label class="labels">price</label>
                            <input type="text" class="form-control" formControlName="price" placeholder="LastModifDate" >
                        </div>
                        <div class="col-md-12">
                            <label class="labels">quantity</label>
                            <input type="text" class="form-control" formControlName="quantity" placeholder="address" >
                        </div>
                        <div class="col-md-12">
                            <label class="labels">htt</label>
                            <input type="text" class="form-control" formControlName="htt" placeholder="denomination" >
                        </div>
                        <div class="col-md-12">
                            <label class="labels">ttc</label>
                            <input type="text" class="form-control" formControlName="ttc" placeholder="fax" >
                        </div>
                       
                        <mat-form-field appearance="fill" class="select-container">
                            <mat-label>Select a category</mat-label>
                            <mat-select formControlName="category" required>
                              <mat-option *ngFor="let category of categoryList" [value]="{ id: category.id, name: category.name }">
                                {{ category.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    
                    
                    </div>
                    
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button"  type="button" (click)="editProduct()" style="margin-right: 10px;" [disabled]="!state">Edit Product</button>
                        <button class="btn btn-primary profile-button"  type="button" (click)="addProduct()"  [disabled]="state">Add Product</button>

                    </div>
                </form>
            </div>
        </div>
       
    </div>
</div>
